:root {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(211, 198, 198);
    display: flex;
    gap: 60px;
    flex-direction: column;
}


h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 3.3rem;
    margin-top: 10px;
    margin-bottom: 0;
}


.gameKeys {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.score-counter {
    display: flex;
    gap: min(180px, 40vw);
    justify-content: center;
}

.score-counter p:nth-child(1) {
    font-size: 2rem;
    font-weight: bold;
}

.score-counter p:nth-child(2) {
    font-size: 2rem;
    font-weight: bold;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.results p:nth-child(1) {
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(219, 25, 25);
}


.results p:nth-child(2) {
    font-size: 1.7rem;
    color: rgba(175, 31, 144, 0.993);
}


button {
    font-size: 2rem;  
    background-color: rgb(145, 53, 231);  
    border-radius: 90px;
    padding: 30px;
    width: 230px;
}

button:nth-child(1) {
    background-color: rgb(179, 32, 32);
}

button:nth-child(2) {
    background-color: white;
}

button:nth-child(3) {
    background-color: rgb(170, 168, 168);
}

a {
    position: relative;
    top: 30px;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(136, 41, 7);
}

a:hover {
    color: rgb(201, 43, 109);
}

@media (max-width:500px) {
    body {
        gap: 10px;
        flex-direction: column;
    }

    h1 {
        font-size: 1.15rem;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .gameKeys {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: -10px;
        align-items: center;
    }

    button {
        font-size: 1rem;  
        padding: 15px;
    }

    .score-counter {
        gap: 20vw;
        justify-content: center;
    }

    .score-counter p:nth-child(1) {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .score-counter p:nth-child(2) {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .results {
        gap: 0.5rem;
    }

    .results p:nth-child(1) {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .results p:nth-child(2) {
        font-size: 1.2rem;
    }

    a {
        text-decoration: none;
        font-size: 1.2rem;
    }
}
